* {
    box-sizing: border-box;
}

:root{
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body{
    font-size : 1.2rem;
    font-family: 'Work Sans',sans-serif;
    overflow-x:hidden ;
    margin: 0;
    padding: 0;
    min-height: 4000px;
}
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(img/andres-hernandez-mhnvcqKJ31Y-unsplash.png);
    filter: grayscale();
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.hero h1, .hero h4, .hero p{
     text-shadow: 
    -1px -1px 0 var(--pink),
     1px -1px 0 var(--pink),
    -1px  1px 0 var(--pink),
     1px  1px 0 var(--pink);
     font-weight: bold;
    }
.hero{
    min-height: 100vh;
    position: relative;
    overflow-x:hidden ;
}

.hero h1{
    font-family: 'Sacramento',cursive;
    font-size: 5rem;
}
.hero p{
    font-size: 2rem;
}

.hero h4{
    font-size: 2.5rem;
}

.hero a{
    background-color: white;
    color: var(--pink);
    box-shadow: var(--shadow);
}
.hero a:hover{
    background-color: var(--pink);
    color: white;
}
.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar{
    background-color: rgba(255, 255, 255, 0.6) !important;
} 

.mynavbar .navbar-brand, .mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 2.2rem;
    
}
.mynavbar .navbar-brand{
    white-space: nowrap;
}
.mynavbar .nav-link{
    font-weight: 400;
    text-transform: uppercase;
}


.home{
    background: url(./img/ame-chan-InEMM2kIys0-unsplash.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -5rem;
    padding-top: 9rem;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
}
.home h2{
    color: var(--pink);
    font-size: 4rem;
    font-family: 'Sacramento',cursive;
    font-weight: bold;
}

.home h3{
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 1rem;
}

.home p{
    font-size: 1.1rem;
    color: #666;

}

.home .couple{
    margin-top: 4rem;
}

.home .couple h3{
    font-family:'Sacramento',cursive ;
    font-size: 50px;
    color: var(--pink);
}

.home .couple img{
    width: 100%;
}

.home .heart{
    width: 50px; 
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translatex(-50%) translatey(65px);
}

.home .heart i{
    margin: auto;
    color: var(--pink);
}

.info{
    background-color: black;
    color: white;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.info h2{
    color: var(--pink);
    font-family: 'Sacramento';
    font-size: 5rem;
    font-weight: bold;
}
.info .alamat {
    font-size: 1.1rem;
}

.info .description{
    font-weight: 300;
    font: 1rem;
}

.info .card{
    background-color: rgba(255, 255, 255, 0.3)!important;
    color: white;
    border: 1px solid #999;
}

.info .card-header{
    border: 1px solid #999;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.info .footer{
    border: 1px solid #999;
    font-size: 1rem;
    font-weight: 0.9rem;

}
/* Media Queryt */
/* extra large  */
@media (max-width: 1200px){
   .home .heart {
    transform: translatex(-50%) translatey(40px);
   }
}

/* laptop */
@media (max-width: 992px){
    html{
        font-size: 75%;
    }
    .home .heart {
    display: none;
   }
}

@media (max-width:768px){
    html{
        font-size: 65%;
    }
}

@media(max-width: 576px){
    html{
        font-size: 60%;
        
    }
    
} 


